{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".ts"],
      },
      "typescript": {}
    }
  },
  "rules": {
   "import/extensions": [
      "error",
      "ignorePackages",
      { "js": "never", "ts": "never" }
   ],
   "@typescript-eslint/no-misused-promises": [
      "error",
      { "checksVoidReturn": false }
  ]
}
}
