{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "plugins": [
    "@typescript-eslint",
    "import",
  ],
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".js"]
    },
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".ts", ".js"],
      },
      "typescript": {}
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-unsafe-call": "off", # TODO: Only for test files?
    "@typescript-eslint/no-unsafe-member-access": "off", # TODO: Only for test files?
    "@typescript-eslint/no-unsafe-assignment": "off", # TODO: Only for test files?
    "import/extensions": [
      "error",
      "ignorePackages",
      { "js": "never", "ts": "never" }
    ],
    "@typescript-eslint/no-misused-promises": [
      "error",
      { "checksVoidReturn": false }
    ]
  },
}
